* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.input-box {
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.submit-btn {
    width: 310px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    background-color: lightcoral;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: coral;
}